modules = ["bash", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["file", "freetype", "gitFull", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "xcodebuild", "zlib"]
